.App {
  background-image: url('./assets/images/background.png');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  height: 600px;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}


